{% extends "django_verispeak/pages_base.html" %}

{% block extrahead %}
{{ block.super }}
<script language="javascript">
function toVerification(url) { 
    var username = $("#id_login_input").val();
    if (username) {
        window.location = url + '?username=' + username;
    } else {
        alert("Введите имя учетной записи в соответствующее поле для продолжения.");
    }
};
</script>
{% endblock %}

{% block voice_header %}
<h2>Вас приветствует система голосовой аутентификации пользователя!</h2>
{% endblock %}

{% block voice_content %}
    <p>Добро пожаловать на страницу системы голосовой аутентификации!</p>

    <ul>
        <li><a href="javascript:toVerification('{% url django_verispeak.views.verification %}');">Вход в систему по голосу</a> (имя учетной записи: <input type=text id=id_login_input />)</li>
    </ul>
{% endblock %}

