*.swp
*license.txt
*.vpp~*
*.sqlite3
*.pyc
*.beam
*.so
*.log
*.profile
*.pid
*.tmproj
*.aux
*.toc
*.out
*.brf
*.blg
*.bbl
*.pdf
!report/static_include/*.pdf
*.wav
*.mo
*/speaker_models/
*/recordings_production/
*/recordings/
*/ubm/
*.gmm
*.mfcc
*~
*.autosave
