{% extends "voice/base.html" %}

{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="mainContent">
    <div class="voice_auth_header">
        <h2>Регистрация в системе голосовой аутентификации</h2>
    </div>
    <div class="voice_auth_content">
        <p>Чтобы иметь возможность производить аутентификацию по голосу, Вам необходимо пройти регистрацию в системе. Для этого необходимо иметь:</p>
        <ul class="prerequisites">
            <li>Интернет-обозреватель, поддерживающий Java-апплеты (на официальном сайте Sun Microsystems можно <a href="http://www.java.com/en/download/help/testvm.xml" target="_blank">проверить</a>, поддерживаются ли апплеты в Вашем обозревателе);</li>
            <li>Существующую учетную запись на сайте
                {% if user.is_authenticated %} (Вы зашли как {{ user.username }});
                {% else %}(<a href="{% url registration %}" target="_blank">Регистрация</a>);
                {% endif%}</li>
            <li>Работающий микрофон, подключенный к Вашему ПК.</li>
        </ul>

        <p>Если все вышеперечисленные требования удовлетворены, Вы можете продолжить, перейдя на страницу отправки данных для создания персональной голосовой модели: <a href="{% url voice.views.enrollment %}">Перейти к созданию персональной голосовой модели</a>.</p>

        <ul class="voice_auth_navigation">
            {% include "voice/navigation.html" %}
        </ul>
    </div>
</div>
{% endblock %}

