{% extends "voice/auth_base.html" %}

{% block title %}Регистрация в системе голосовой аутентификации{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{{ MEDIA_URL }}js/voice_registration.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function () {

    registration = new RegistrationBlock("div.voice_auth_wrapper",
        {
            appletReadyScriptName: "recordAppletLoaded",
            recordStateChangedScriptName: "recordStateChanged",
            recordTimeChangedScriptName: "recordTimeChanged",
            appletName: "ListenUpRecorder"
        },
        {
            monitorURL: "{% url voice.views.enrollment_state %}",
            confirmURL: "{% url voice.views.enrollment_confirm %}",
            cancelURL: "{% url voice.views.enrollment_cancel %}",
            redirectURL: "{{ redirect_to }}",
            fallbackURL: "{{ login_url }}"
            }
        );

});
</script>
{% endblock %}

{% block auth_header %}Регистрация{% endblock %}
{% block auth_inputs %}
        <input type="button" value="Запись" id="id_record_button" />
        <input type="button" value="Готово" id="id_confirm_button" />
        <input type="button" value="Возврат" id="id_cancel_button" />
{% endblock %}        

{% block auth_form %}
    <input type="hidden" name="username" value="{{ username }}" />
    <input type="hidden" name="session_id" value="{{ session_id }}" />
{% endblock %}

