{% extends "voice/base.html" %}

{% block extrahead %}
{{ block.super }}
<script language="javascript">
function toVerification(url) { 
    var username = $("#id_login_input").val();
    if (username) {
        window.location = url + '?username=' + username;
    } else {
        alert("Введите имя учетной записи в соответствующее поле для продолжения.");
    }
};
</script>
{% endblock %}

{% block content %}
<div class="mainContent">
    <div class="voice_site_header">
        <h2>Вас приветствует система голосовой аутентификации пользователя!</h2>
    </div>
    <div class="voice_site_content">
        <p>Добро пожаловать на страницу системы голосовой аутентификации! В данный момент доступны следующие ресурсы:</p>

        <ul>
            <li><a href="javascript:toVerification('{% url voice.views.verification %}');">Вход в систему по голосу</a> (имя учетной записи: <input type=text id=id_login_input />);</li>
            <li><a href="{% url voice.enrollment.initial %}">Регистрация в системе</a>;</li>
            <li><a href="{% url voice.views.upload %}">Анонимная загрузка голосовых данных</a>.</li>
        </ul>
    </div>
</div>
{% endblock %}

